@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-neutral-100 text-neutral-900;
  font-feature-settings: "liga";
}

a {
  @apply text-primary-500 underline focus:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2;
}
